#img1{
    width: 500px;
    height: 250px;
}
body {
      font-family: Arial, sans-serif;
      margin: 30px;
    }
    table {
      border-collapse: collapse;
      width: 50%;
    }
    th, td {
      border: 1px solid #666;
      text-align: center;
      padding: 8px;
    }
    th {
      background-color: #f2f2f2;
    }
    button {
      padding: 5px 10px;
      cursor: pointer;
    }
    